<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    {# beware that the blocks in your template may be named different #}
    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/footer.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/base.css') }}"/>
    {% endblock %}
    {% block head_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <header>
        {% block header %}
            {{ include('header.html.twig') }}
        {% endblock %}
    </header>
    <div class="background_base"></div>
    <footer>
        {% block footer %}
            {{ include('footer.html.twig') }}
        {% endblock %}
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>